body 
  {
  margin-top: 0pt;
  }

h1 
  {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  text-align: left;
  margin-top: 0pt;
  margin-bottom: 9pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  }

h2 
  {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 10pt;
  text-align: left;
  margin-top: 0pt;
  margin-bottom: 9pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  }

h3 
  {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  text-align: left;
  font-weight: bold;
  margin-top: 12pt;
  margin-bottom: 6pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  }

h4 
  {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  text-align: left;
  font-weight: bold;
  color: slategray;
  margin-top: 12pt;
  margin-bottom: 6pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  }

p, ol, ul, dl, dt, dd, table, td, th, select, input 
  {
  font-size: 8pt;
  font-family: verdana, arial, helvetica, sans-serif;
  }  

p, ol, ul 
  {
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
  } 

p.uparrowpara 
  {
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 0pt;
  margin-bottom: 3pt;
  }

p.listspacerpara 
  {
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
  }

p.tablepara 
  {
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 1pt;
  margin-bottom: 1pt;
  }

p.firstparainsection 
  {
  padding-top: 0pt;
  margin-top: 0pt;
  }

p.firstparainpage 
  {
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 0pt;
  margin-bottom: 12pt;
  font-size: 1pt;
  line-height: 1%;
  }

p.startcontentinframeset 
  {
  padding-top: 0pt;
  padding-bottom: 4px;
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-size: 1pt;
  }

p.startcontentstandalone 
  {
  padding-top: 0pt;
  padding-bottom: 68px;
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-size: 1pt;
  }

p.startcontentsecondary 
  {
  padding-top: 0pt;
  padding-bottom: 4px;
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-size: 1pt;
  }

p.runinpara 
  {
  margin-top: 9pt;
  }

li 
  {
  font-size: 8pt;
  font-family: arial black, verdana, arial, helvetica, sans-serif;
  }


/* List styles - simple and nested lists */

ul li 
  {
  list-style-type: square; 
  }

ul li ul li 
  {
  list-style-type: disc; 
  }

ol li ul li 
  {
  list-style-type: disc; 
  }

ol li ol li 
  {
  list-style-type: lower-alpha; 
  }

ul li ol li 
  {
  list-style-type: lower-alpha; 
  }
  


/* List styles - Bullet > Table   */

ul li table ol li 
  {
  list-style-type: decimal; 
  }

ul li table ol li ol li
  {
  list-style-type: lower-alpha; 
  }

ul li table ol li ul li
  {
  list-style-type: disc; 
  }

ul li table ul li 
  {
  list-style-type: square; 
  }

ul li table ul li ol li
  {
  list-style-type: lower-alpha; 
  }

ul li table ul li ul li
  {
  list-style-type: disc; 
  }


/* List styles - Bullet > SublistBullet > Table  */

ul li ul li table ol li 
  {
  list-style-type: decimal; 
  }

ul li ul li table ol li ol li
  {
  list-style-type: lower-alpha; 
  }

ul li ul li table ol li ul li
  {
  list-style-type: disc; 
  }

ul li ul li table ul li 
  {
  list-style-type: square; 
  }

ul li ul li table ul li ol li
  {
  list-style-type: lower-alpha; 
  }

ul li ul li table ul li ul li
  {
  list-style-type: disc; 
  }


/* List styles - Bullet > SublistNumbered > Table  */

ul li ol li table ol li 
  {
  list-style-type: decimal; 
  }

ul li ol li table ol li ol li
  {
  list-style-type: lower-alpha; 
  }

ul li ol li table ol li ul li
  {
  list-style-type: disc; 
  }

ul li ol li table ul li 
  {
  list-style-type: square; 
  }

ul li ol li table ul li ol li
  {
  list-style-type: lower-alpha; 
  }

ul li ol li table ul li ul li
  {
  list-style-type: disc; 
  }



/* List styles - Numbered > Table   */

ol li table ol li 
  {
  list-style-type: decimal; 
  }

ol li table ol li ol li
  {
  list-style-type: lower-alpha; 
  }

ol li table ol li ul li
  {
  list-style-type: disc; 
  }

ol li table ul li 
  {
  list-style-type: square; 
  }

ol li table ul li ol li
  {
  list-style-type: lower-alpha; 
  }

ol li table ul li ul li
  {
  list-style-type: disc; 
  }


/* List styles - Numbered > SublistBullet > Table  */

ol li ul li table ol li 
  {
  list-style-type: decimal; 
  }

ol li ul li table ol li ol li
  {
  list-style-type: lower-alpha; 
  }

ol li ul li table ol li ul li
  {
  list-style-type: disc; 
  }

ol li ul li table ul li 
  {
  list-style-type: square; 
  }

ol li ul li table ul li ol li
  {
  list-style-type: lower-alpha; 
  }

ol li ul li table ul li ul li
  {
  list-style-type: disc; 
  }


/* List styles - Numbered > SublistNumbered > Table  */

ol li ol li table ol li 
  {
  list-style-type: decimal; 
  }

ol li ol li table ol li ol li
  {
  list-style-type: lower-alpha; 
  }

ol li ol li table ol li ul li
  {
  list-style-type: disc; 
  }

ol li ol li table ul li 
  {
  list-style-type: square; 
  }

ol li ol li table ul li ol li
  {
  list-style-type: lower-alpha; 
  }

ol li ol li table ul li ul li
  {
  list-style-type: disc; 
  }






pre 
  {
  font-family: lucida console, letter gothic mt, courier new, courier, monospace;
  font-size: 8pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
  line-height: 120%;
  color: #800000;
  }

code 
  {
  font-family: lucida console, letter gothic mt, courier new, courier, monospace;
  font-size: 8pt;
  color: #800000;
  }

table.contenttable 
  {
  margin-top: 9pt;
  margin-bottom: 9pt;
  }

img.contentgraphic 
  {
  margin-top: 6pt;
  margin-bottom: 6pt;
  }

a.locatorlink 
  {
  background-color: #cfcdc6; 
  border-bottom-width: thin; 
  border-bottom-style: dotted; 
  text-decoration: none;
  }

.runintext 
  {
  font-weight: bold;
  }

.proceduretext 
  {
  font-weight: bold;
  }

.tableheadtext 
  {
  font-weight: bold;
  color: slategray;
  }

.tablecellsuitelinks 
  {
  background-color: #6B8899;
  font-size: 8pt;
  font-family: verdana, arial, helvetica, sans-serif;
  color: white;
  text-align: left;
  text-decoration: none;
  }

.glossaryitem 
  {
  font-weight: bold;
  color: slategray;
  }

.genericbold 
  {
  font-weight: bold;
  }

.genericitalic 
  {
  font-style: italic;
  }

.genericbolditalic 
  {
  font-weight: bold;
  font-style: italic;
  }

code span.colorbold 
  {
  font-weight: bold;
  color: #800000;
  }

pre span.colorbold 
  {
  font-weight: bold;
  color: #800000;
  }

.colorbold 
  {
  font-weight: bold;
  color: slategray;
  }

code span.colorbolditalic 
  {
  font-weight: bold;
  font-style: italic;
  color: #800000;
  }

pre span.colorbolditalic 
  {
  font-weight: bold;
  font-style: italic;
  color: #800000;
  }

.colorbolditalic 
  {
  font-weight: bold;
  font-style: italic;
  color: slategray;
  }

.codebold 
  {
  font-weight: bold;
  color: #800000;
  }

.codeitalic 
  {
  font-style: italic;
  color: #800000;
  }

.aligncenter 
  {
  text-align: center;
  }

p.warningpara 
  {
  }

span.warningintro 
  {
  font-weight: bold;
  color: #c82727;
  }

span.warningtext 
  {
  font-style: italic;
  }

p.notepara 
  {
  }

span.noteintro 
  {
  font-weight: bold;
  color: #c82727;
  }

p.tippara 
  {
  }

span.tipintro 
  {
  font-weight: bold;
  color: #c82727;
  }

p.imppara 
  {
  }

span.impintro 
  {
  font-weight: bold;
  color: #c82727;
  }

.projecttitle 
  {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 10pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  color: slategray;
  }

.chapnumber 
  {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  color: black;
  }

.chaptitle 
  {
  font-size: 14pt;
  text-align: center;
  margin-top: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  }

.chaptitlestandalone 
  {
  font-size: 12pt;
  text-align: center;
  margin-top: 9pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  }

.introsubtext 
  {
  font-size: 11pt;
  font-weight:normal;
  color: slategray;
  }

.chaptitlesubtext 
  {
  font-size: 10pt;
  font-weight:bold;
  }

.chaptitleautonumber 
  {
  font-size: 12pt;
  font-weight: 200;
  }

.refsidehead 
  {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  text-align: left;
  font-weight: bold;
  color: slategray;
  margin-top: 9pt;
  margin-bottom: 6pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  }

dl 
  {
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  } 

dt 
  {
  margin-left: 12pt;
  text-indent: -12pt;
  } 

dd 
  {
  margin-left: 24pt;
  text-indent: -12pt;
  } 

.tocpart 
  {
  margin-top: 15pt;
  margin-bottom: 0pt;
  }

.tocchapter 
  {
  margin-top: 9pt;
  margin-bottom: 6pt;
  }

span.indexjumpletters 
  {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  color: #C0C0C0;
  }

.indexitem 
  {
  font-family: wingdings, "zapf dingbats", verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  text-decoration: none;
  }

p.indexheadings 
  {
  padding-top: 0px;
  font-family: arial, verdana, helvetica, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  font-style: italic;
  text-align: left;
  color: #355263;
  }

.NeHELPindexgrouptitleslinks 
  {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  color: #b6b3a6;
  text-decoration: none;
  }

.NeHELPbookcontainer 
  {
  } 

.NeHELPpartcontainer 
  {
  } 

.NeHELPbooktitle 
  {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.NeHELPparttitle 
  {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.NeHELProotchapter 
  {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.NeHELProotchapterlaunch 
  {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.NeHELProotsecondarylaunch 
  {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.NeHELPbookchapter 
  {
  font-size: 8pt;
  font-family: arial, sans-serif;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 2px;
  }

.NeHELPbookchapterlaunch 
  {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.NeHELPpartchapter 
  {
  margin-left: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.NeHELPpartchapterlaunch 
  {
  margin-left: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.NeHELPanchor 
  {
  text-decoration: none;
  }

.NeHELPproduct 
  {
  font-size: 10pt;
  font-family: arial, sans-serif;
  color: slategray;
  }

.NeHELPhelphead 
  {
  font-size: 10pt;
  font-family: arial, sans-serif;
  color: slategray;
  }

.NeHELPitem 
  {
  font-size: 8pt;
  font-family: arial, sans-serif;
  margin-left: 4px;
  margin-top: 0px;
  margin-bottom: 2px;
  }

.NeHELPlaunch 
  {
  color: purple;
  }

.NeHELPlinkoff 
  {
  color: black;
  text-decoration: none;
  }

.NeHELPlinkon 
  {
  color: #003399;
  text-decoration: underline;
  }

.NeHELPindexlinkoff 
  {
  color: black;
  text-decoration: none;
  font-family: wingdings, "zapf dingbats", verdana, arial, helvetica, sans-serif;
  }

.NeHELPindexlinkon 
  {
  color: #003399;
  text-decoration: underline;
  font-family: wingdings, "zapf dingbats", verdana, arial, helvetica, sans-serif;
  }

.NeHELPnolink 
  {
  color: darkgray;
  }

.NeHELPlinkselected 
  {
  color: black;
  background-color: #94b5c6;
  text-decoration: none;
  }

#topofpage 
  {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-size: 1pt;
  }

#Headgraphic 
  {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 650px;
  visibility: visible
  }

#logo 
  {
  text-align: right; 
  position: absolute; 
  z-index: 1000;
  top: 37px;
  left: 0px;
  width: 100%;
  height: 22px;
  visibility: visible
  }

#prodtitle 
  {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 248px;
  visibility: visible
  }

#title 
  {
  position: absolute;
  top: 25px;
  left: 4px;
  width: 208px;
  visibility: visible
  }

#helpsystemlinks 
  {
  display:none;
  position: absolute;
  z-index: 1;
  }
